body {
  background: black;
  font-family: sans-serif;
  color: white;
  padding: 5px;
}



a { 
  color: darkgrey;
  text-decoration: underline;
}

/*navigation bar*/


ul.nav {
  list-style-type: none;
  background-color: white;
  margin: 0;
  padding: 5px 0px;
}


li.ulnav a {
  width: 60px;
  padding: 5.5px;
  color: black;
}

li.ulnav a:hover {
  background-color: dimgray;
  color: white;
}

li.ulnav {
  display: inline;
}
